.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 2px solid #607d8b !important;

  &__content {
    position: absolute;
    right: 75px;
    bottom: 175px;
    text-align: center;
    border-radius: 12px;
    padding: 0;
    color: #000;
    background-color: white;
    height: 560px;
    width: 400px;
    transform: scale(0.5);
    transition: 0.4s all;
    border: 1px solid #607d8b !important;

    &.active {
      transform: scale(1);
    }
  }

  &__header {
    background-color: #607d8b;
    width: 100%;
    color: #fff !important;
    border-radius: 12px 12px 0 0;
    padding: 20px;
    text-align: left;
  }

  &__message {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
  }

  &__text {
    padding: 25px;
  }

  &__logo {
    height: 80px;
  }

  &-button {
    padding: 5px 10px;
    background-color: red;
  }

  &__title {
    padding-top: 12px;
    padding-bottom: 11px;
    font-size: 35px;
    font-weight: 900;
  }

  &__desc {
    font-size: 20px;
  }

  &__userAccount {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    margin-top: 45px;
    margin-bottom: 20px;
    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
    }

    p {
      font-weight: 600;
      font-size: 20px;
      color: gray;
      span {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        color: #000;
      }
    }
  }

  &__whatsapp {
    background-color: #25d366;
    color: #fff;
    padding: 10px 25px;
    border-radius: 35px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 20px;
    a {
      color: #fff;
    }
  }
}
